<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/base/head.html :: common_head(~{::title})">
    <title>levelUp</title>
</head>

<body id="page-top">

<!-- Navigation-->
<nav th:replace="html/base/navigation.html :: navigation" class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
</nav>

<!-- Masthead-->
<header th:replace="html/base/header.html :: commonHeader" class="masthead bg-primary text-white text-center">
</header>

<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">


        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"><마이페이지></마이페이지></h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="divider-custom">
            <img src="" id="profile" class="img-thumbnail img-fluid rounded-circle" width="200px" height="200px">
        </div>

        <!-- Contact Section Form-->
        <div class="justify-content-center">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default1">이메일</span>
                <input type="text" class="form-control" id="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default2">이름</span>
                <input type="text" class="form-control" id="name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default3">생년월일</span>
                <input type="text" class="form-control" id="birthday" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default4">휴대폰번호</span>
                <input type="text" class="form-control" id="phone" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default5">성별</span>
                <input type="text" class="form-control" id="gender" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
            </div>

            <div>
                <label for="formFileLg" class="form-label">프로필 사진 선택</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" disabled>
            </div>

            <br>
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="button" id="updateButton">수정</button>
                    <button class="w-100 btn btn-primary btn-lg" type="button" id="modifyButton">확인</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg" type="button" id="backButton">뒤로가기</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<!--<footer th:replace="html/base/footer.html :: commonFooter" class="footer text-center">-->
<!--</footer>-->

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
</div>

<script type="module" src="/js/member/myPage.js"></script>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>
