<!DOCTYPE html>
<html th:replace="~{base.html :: baseLayout (~{::title}, ~{::#contents}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <link href="/css/memberRegisterStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="contents" id="contents">
    <div id="title">
        <h2>회원가입</h2>
    </div>
    <form class="form-horizontal" th:object="${member}" id="registerForm" action="/member/register" method="post">
        <div class="form-group">
            <label class="fieldlabel" th:for="password">패스워드</label>
            <input type="password" th:field="*{password}" placeholder="패스워드를 입력해주세요" required>
        </div>
        <div class="form-group">
            <label class="fieldlabel" th:for="name">이름</label>
            <input type="text" th:field="*{name}" placeholder="이름를 입력해주세요" required>
        </div>
        <div class="form-group">
            <label class="fieldlabel" th:for="birthday">생년월일</label>
            <input type="text" minlength="6" maxlength="6" th:field="*{birthday}" placeholder="생년월일 6자리를 입력해주세요" required>
        </div>
        <div class="form-group">
            <label class="fieldlabel" th:for="gender">성별</label>
            <input type="radio" name="gender" th:value="${gender[0].MAIL}" checked>남자
            <input type="radio" name="gender" th:value="${gender[0].FEMAIL}">여자
        </div>
        <div class="form-group">
            <label class="fieldlabel" th:for="phone">핸드폰번호</label>
            <input type="text" th:field="*{phone}" placeholder="000-0000-0000" required>
        </div>
        <div class="form-group">
            <label class="fieldlabel" th:for="email1">이메일</label>
            <input type="text" th:field="*{getEmailId}" placeholder="이메일을 입력해주세요" required>
            <span>@</span>
            <input list="domainList" th:field="*{getEmailDomain}" required>
            <datalist id="domainList">
                <option value="naver.com">
                <option value="daum.net">
                <option value="gmail.com">
                <option value="yahoo.co.kr">
            </datalist>
        </div>
        <button class="btnfield" type="submit">
            회원가입
        </button>
    </form>
</div>
</body>
</html>