<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/base/head.html :: common_head(~{::title})">
    <title>levelUp</title>
</head>

<body id="page-top">

<!-- Navigation-->
<nav th:replace="html/base/navigation.html :: navigation" class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
</nav>

<!-- Masthead-->
<header th:replace="html/base/header.html :: commonHeader" class="masthead bg-primary text-white text-center">
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">등록된 채널들</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <button type="button" class="page-section-heading text-center btn btn-primary btn-lg mb-0" id="createChannelButton">채널 등록</button>

        <!-- Channel Grid Items-->
        <div class="row row-cols-1 row-cols-md-3 g-4" id="channelRow">
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/img/portfolio/cabin.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">채널 접속</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<!--<footer th:replace="html/base/footer.html :: commonFooter" class="footer text-center">-->
<!--</footer>-->

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
</div>

<script src="/js/home.js"></script>

<!-- Load Base Layout-->
<!--<script src="/js/navigation.js"></script>-->

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>
