div {
    border: 1px solid #ccc;
}

#container {
    width: 1200px;
    padding: 20px;
    margin: 0 auto;
    font-size: 16px;
}

#contents {
    width: 86%;
    height: 1000px;
    padding: 10px;
    float: right;
    margin-bottom: 10px;
}

#header {
    padding: 20px;
    margin-bottom: 20px;
}

#sidebar {
    width: 10%;
    height: 1000px;
    padding: 10px;
    float: left;
    margin-bottom: 10px;
    background: #eee;
}

#sidebar ul {
    list-style: none;
}

#sidebar .button {
    margin-bottom: 15px;
    width: 100px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
    background: bisque;
    display: block;
    text-align: center;
    font-weight: bold;
    position: relative;
    left: -33px;
}

#footer {
    clear: both;
    padding: 10px;
    background: antiquewhite;
    text-align: center;
}