#title {
    margin-left: 65px;
}

.form-horizontal {
    margin-top: 25px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #565e64;
}

.form-group {
    border: none;
    padding-bottom: 20px;
}

.fieldlabel {
    float:left;
    width:120px;
    text-align:right;
    padding-right:10px;
}

.btnfield {
    margin:20px 0 0 130px;
}

.input-error {
    border-color: #dc3545;
    color: #dc3545;
}

.error-message {
    border: none;
    border-color: #dc3545;
    color: #dc3545;
    margin-left: 130px;
}