<!DOCTYPE html>
<html th:fragment="baseLayout (title, contents, links)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:replace="${title}">제목</title>
    <link href="/css/baseStyle.css" rel="stylesheet" type="text/css">
    <th:block th:replace="${links}"/>
</head>
<body>
<div id="container">
    <div id="header">
        <a th:href="@{/}"><h1>LevelUp</h1></a>
    </div>
    <div id="sidebar">
        <ul>
            <a class="button" th:href="@{/member/register}">회원가입</a>
            <a class="button" th:href="@{/member/login}">로그인</a>
            <a class="button">커뮤니티</a>
            <a class="button">공지사항</a>
        </ul>
    </div>
    <div th:replace="${contents}">
    </div>
    <div id="footer">
        <p>Copyright © 2009  MySite <br />
            All Rights Reserved</p>
    </div>
</div>
</body>
</html>