<!-- Footer-->
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="commonFooter" class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">커뮤니티</h4>
                <a class="lead mb-0"><p>커뮤니티 신청</p></a>
                <a class="lead mb-0"><p>커뮤니티 둘러보기</p></a>
                <a class="lead mb-0"><p>내 커뮤니티</p></a>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">고객센터</h4>
                <a class="lead mb-0"><p>질문 & 답변</p></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">레벨업</h4>
                <a class="lead mb-0"><p>공지사항</p></a>
                <a class="lead mb-0"><p>사이트 소개</p></a>
            </div>
        </div>
    </div>
</footer>