<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/base/head.html :: common_head(~{::title})">
    <title>levelUp</title>
</head>

<body id="page-top">

<!-- Navigation-->
<nav th:replace="html/base/navigation.html :: navigation" class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
</nav>

<!-- Masthead-->
<header th:replace="html/base/header.html :: commonHeader" class="masthead bg-primary text-white text-center">
</header>

<!-- Contact Section-->
<section class="page-section" id="contact">
        <div class="container" style="width: 50%">
            <div class="row row-cols-1">
                <div class="col border-bottom">
                    <p id="writer" class="h6">작성자</p>
                    <h1 id="title" class="display-3">h1. Bootstrap heading</h1>
                    <br>
                    <p class="h6">
                        <span>작성일
                            &nbsp;
                            <span id="dateCreated">2022.04.25</span>
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <span>조회
                            &nbsp;
                            <span id="views">58</span>
                        </span>
                        &nbsp;&nbsp;&nbsp;

                        <span>댓글
                            &nbsp;
                            <span id="commentCount">1</span>
                        </span>
                    </p>
                </div>
                <div class="col">
                    <br><br>
                    <h1 class="display-6">
                        <p id="content">내용</p>
                    </h1>
                    <br><br><br><br>
                </div>
                <div th:if="${isManager == true}" class="d-grid gap-2 d-md-block float-end">
                    <button class="btn btn-primary btn-lg" type="button" id="modifyButton">수정</button>
                    <button class="btn btn-primary btn-lg" type="button" id="deleteButton">삭제</button>
                </div>
            </div>

            <hr>
            <br>

            <div id="commentFrame" class="row row-cols-1">
                <div class="col">
                    <br>
                    <h2>댓글 <span id="allCommentCount"></span></h2>
                    <br>
                </div>

                <div id="comment" class="comment col border-bottom border-top">
                    <br>
                    <span id="commentWriter">댓글작성자</span>
                    &nbsp;&nbsp;&nbsp;
                    <span id="commentDate">댓글 등록일</span>
                    <p id="commentContent">댓글 내용</p>
                    <p id="commentReply">답글쓰기</p>
                </div>
            </div>

            <br>
            <br>

            <div class="mb-3">
                <textarea id="contentOfWritingComment" class="form-control" rows="3" placeholder="댓글을 입력해주세요"></textarea>
                <br>
                <button class="btn btn-primary btn-lg float-end" type="button" id="commentingButton">등록</button>
            </div>

            <br><br><br><br>

            <div>
                <button class="btn btn-primary btn-lg float-start" type="button" id="allPostButton">목록으로</button>
                <div class="d-grid gap-2 d-md-block float-end">
                    <button class="btn btn-primary btn-lg" type="button" id="nextPostButton">다음글</button>
                    <button class="btn btn-primary btn-lg" type="button" id="prevPostButton">이전글</button>
                </div>
            </div>

        </div>
</section>

<!-- Footer-->
<footer th:replace="html/base/footer.html :: commonFooter" class="footer text-center">
</footer>

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
</div>

<script type="module" src="/js/channel_notice/detailChannelNotice.js"></script>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>
